.extra-section {

    min-height: 75vh;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "first first second second"
      "tags tags tags tags";

    .extra-title {
        display: inline-block;
        padding: 2rem 0;
        display: flex;
        justify-content: center;

    }

    .extra-paragraph {
        padding: 1em;
    }

    .extra-tags {
        grid-area: tags;
        display: flex;
        flex-direction: column;
        align-items: center;

        .tag-cloud {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin: 0 -0.5em;
            .tag-cloud__item {
                padding: 0.5em;
                margin: 0.5em;
                color: $dark;
                box-shadow: $box-shadow;
                border-radius: $radius;
                background-color: $grey;
                transition: background 200ms ease-in-out;
                &:hover {
                    background-color: $dark;
                }
                a {
                    color: $white;
                    padding: 0.5em
                }
            }
        }
    }
}