* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $main-font;
    background-color: $light;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}


.container {
    max-width: map-get($breakpoints, xl);
    margin: auto;
}
