*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:focus {
  outline: none;
}

html {
  font-size: 1rem;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

body {
  font-family: $main-font;
  background-color: $light;
  margin: 0;
  font-weight: 400;
  font-size: 1rem;
  text-rendering: optimizeLegibility;
  word-wrap: break-word;
  line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font;
  font-weight: bold;
  // letter-spacing: 2px;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.8rem;
}

h6 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
  line-height: 1.8;
  font-weight: 350;
  letter-spacing: 0.02em;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: map-get($breakpoints, xl);
  margin: auto;
  padding: 0 2rem;
}

.overflow-hiden {
  overflow: hidden;
}