.navbar {
    background-color: $dark;
}

.main-navbar {
    display: flex;
    flex-direction: column;
    color: $light;
    a {
        color: $light;
    }

    .upper-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        

        .navbar-social {
            font-size: 1.25rem;
            i {
                padding-right:0.5em;
                color: $grey;
                &:hover {
                    color: $light;
                }
            }

        }

        .navbar-brand {
            font-family: $title-font;
            font-weight: 400;
            font-size: 3rem;
            letter-spacing: 2px;
        }
    
        .navbar-toggler {
            display: none;
        }
    
        .navbar-search {
            font-size: 1.25rem;
            a {
                color: grey;
                &:hover {
                    color: $light;
                }
            }
            span {
                font-size: 0.75rem;
                padding: 0 1rem;
                text-transform: uppercase;
                letter-spacing: 2px;
                
            }

        }
    
        
    }

    .under-nav {
        display: flex;
        justify-content: space-around;
        border-top: 1px solid rgba($grey, .1);

        .nav-collapsed__title {
            display: none;
        }

        .dropdown-menu {
            position: absolute;
            z-index: -100;
            background-color: transparent;
            box-shadow: none;
            margin-top: 3em;
            margin-left: 2em;
            padding: 0.75em 0;
            font-size: 0.95rem;
            border-radius: $radius;
            transition: all 200ms linear, z-index 1ms;

            .dropdown-item {
                padding: 0.5em 0.5rem;
            }

            .dropdown_a {
                padding: 0 2em;
                color: transparent;
                &:hover {
                    color: transparent;
                }

            }
            
        }
    
        .navbar-links {        
            display: flex;
            align-items: center;

            a {
                color: $grey;
            }
            
            .navbar-link {
                padding: 1.5em 0;

                

                .navbar-link__a {
                    padding: 1.5em 2em;
                    &:hover {
                        color: $light;

                    }
                }

            
            }

            .dropdown {

                i {
                    font-size: 0.5em;
                    padding: 0.5em;
                    transition: all 200ms linear;
                }

                

                &:hover {
                    .navbar-link__a {
                        i {
                           transform: rotate(180deg);
                           transition: transform 200ms linear;
                         }
                    }                  
                    .dropdown-menu {
                        display: block;
                        margin-top: 1em;
                        z-index: 0;
                        background-color: $light;
                        box-shadow: $box-shadow;
                        margin-left: 2em;
                        padding: 0.75em 0;
                        font-size: 0.95rem;
                        border-radius: $radius;
                        transition: all 200ms linear, z-index 1ms;
            
                        .dropdown-item {
                            padding: 0.5em 0.5rem;
                        }
            
                        .dropdown_a {
                            padding: 0 2em;
                            color: rgba($dark, .55);
                            &:hover {
                                color: $dark;
                            }
            
                        }


                    }
                }
            }
            
    

        }
    }
}







.close-overlay {
    cursor: pointer;
}


.search-overlay {
    padding: 2em;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: $light;
    background-color: $dark;
    opacity: 100%;
    transition: opacity 200ms linear;
    

}

.inner-search {
    margin-bottom: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: map-get($breakpoints, md)) {

    .main-navbar {
        .upper-nav {
            flex-direction: row-reverse;
            .navbar-toggler {
                cursor: pointer;
                display: inline-block;
                color: $grey;
                font-size: 1.25rem;
                &:hover {
                    color: $light;

                }
            }

            .navbar-social {
                display: none;
            }

            .navbar-search {
                span {
                    display: none;
                }
            }
        }
        .under-nav {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            background-color: $dark;
            height: 100vh;
            width: 100vw;
            

            .navbar-links {
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                padding: 0 2rem;

                .nav-collapsed__title {
                    letter-spacing: 2px;
                    text-transform: uppercase;
                    width: 100vw;
                    text-align: center;
                    padding: 2em;
                    font-size: 0.75rem;

                    i {
                        font-size: 1.25rem;
                        margin-bottom: 2rem;
                    }

                    

                }

                .navbar-link {
                    width: 100%;
                    border-bottom: 1px solid rgba($grey, .1);
                }

            }
        }
    }
}

.hide-overlay {
    z-index: -1;
    background-color: $dark;
    opacity: 0;
    transition: opacity 200ms linear;
}