.single-article {
  width: 100vw;
  @media screen and (max-width: map-get($breakpoints, md)) {
    margin-top: 4em;
  }


  .article-content {
    max-width: 100ch;
    display: flex;
    flex-direction: column;
    margin-top: 2em;

    .header {
      margin: 2em 0;
      display: flex;
      flex-direction: column;
      align-items: center;

      .title {
        text-align: center;
      }

      .meta {
        display: flex;
        flex-direction: row;
        padding: 1em 0;
        color: $dark-gray;

        .category {
          margin-left: 1ch;
        }

        a {
          color: $dark;
        }
      }

    }

    .media {
      background-size: cover;
      background-position: 55% 50%;
      background-repeat: no-repeat;
      height: 500px;
      width: 100%;
      margin-bottom: 2em;
      display: flex;
      align-items: center;
      justify-content: center;
      @media screen and (max-width: map-get($breakpoints, md)) {
        height: 350px;
      }
      @media screen and (max-width: map-get($breakpoints, sm)) {
        height: 250px;
      }
    }

    .main-content {
      h1, h2, h3, h4, h5, h6 {
        margin: 1em 0;
        font-size: 1.5rem;
      }

      p {
        margin: 1em 0;
      }

      li {
        list-style: inside;
        font-size: 1rem;
        line-height: 1.8;
        font-weight: 350;
        letter-spacing: 0.02em;
      }

      ol li {
        list-style: decimal inside;
      }

      a {
        color: $dark-gray;
        font-weight: 450;
        transition: $color-transition;

        &:hover {
          color: $dark;
        }
      }
    }

    .tags {
      display: flex;
      align-items: center;
      padding: 2em 0;
      margin-top: 2em;
      border-top: 1px solid $dark-gray;

      .tags__list {
        display: flex;
        flex-direction: row;

        .tag__item {
          font-size: 0.75rem;
          text-transform: uppercase;
          padding: 0.5em;
          border: 1px solid $dark-gray;
          margin-right: 1em;
          margin-left: 0;
          border-radius: $radius;
          transition: all 200ms linear;

          a {
            color: $dark-gray;
          }

          &:hover {
            background-color: $dark;

            a {
              color: $light;
            }
          }
        }
      }
    }

    .author {
      display: flex;
      align-items: center;
      margin-bottom: 2em;

      .author-pic {
        background-color: $grey;
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        height: 50px;
        width: 50px;
        border-radius: $radius;
        margin-right: 1em;
      }

      .author-name {
        display: flex;
        align-items: center;

        .name {
          font-size: 1rem;

          a {
            color: $dark;
          }
        }
      }
    }
  }


  .comments {
    width: 100vw;
    height: 25vh;
    background-color: $light-gray;
  }
}

