@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 1rem;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #f5f3f3;
  margin: 0;
  font-weight: 400;
  font-size: 1rem;
  text-rendering: optimizeLegibility;
  word-wrap: break-word;
  line-height: 1.2;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather", "Abril Fatface", serif;
  font-weight: 400;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.8rem;
}

h6 {
  font-size: 1.5rem;
}

p {
  font-size: 1.2rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 2rem;
}

.overflow-hiden {
  overflow: hidden;
}

.navbar {
  background-color: #1a1919;
  width: 100vw;
}

.main-navbar {
  display: flex;
  flex-direction: column;
  color: #f5f3f3;
}
.main-navbar a {
  color: #f5f3f3;
}
.main-navbar .upper-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-navbar .upper-nav .navbar-social {
  font-size: 1.25rem;
}
.main-navbar .upper-nav .navbar-social i {
  padding-right: 0.5em;
  color: #aaaaaa;
  transition: color 200ms linear;
}
.main-navbar .upper-nav .navbar-social i:hover {
  color: #f5f3f3;
  transition: color 200ms linear;
}
.main-navbar .upper-nav .navbar-brand {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-size: 3rem;
  letter-spacing: 2px;
  color: #f5f3f3;
  padding: 0.2em;
}
.main-navbar .upper-nav .navbar-toggler {
  display: none;
}
.main-navbar .upper-nav .navbar-utilities {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
}
.main-navbar .upper-nav .navbar-utilities .navbar-search a {
  color: grey;
  transition: color 200ms linear;
}
.main-navbar .upper-nav .navbar-utilities .navbar-search a:hover {
  color: #f5f3f3;
  transition: color 200ms linear;
}
.main-navbar .upper-nav .navbar-utilities .navbar-search span {
  font-size: 0.75rem;
  padding: 0 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.main-navbar .upper-nav .navbar-utilities .navbar-user {
  margin-left: 1em;
}
.main-navbar .upper-nav .navbar-utilities .navbar-user .navbar-user__icon {
  cursor: pointer;
  padding: 1em;
  color: #aaaaaa;
  transition: color 200ms linear;
}
.main-navbar .upper-nav .navbar-utilities .navbar-user .navbar-user__icon:hover {
  color: #f5f3f3;
  transition: color 200ms linear;
}
.main-navbar .upper-nav .navbar-utilities .navbar-user .navbar-user__list {
  position: absolute;
  z-index: -100;
  background-color: transparent;
  box-shadow: none;
  margin-top: 3em;
  margin-left: -1.5em;
  padding: 0.75em 0;
  font-size: 0.95rem;
  border-radius: 2.5px;
}
@media screen and (min-width: 768px) {
  .main-navbar .upper-nav .navbar-utilities .navbar-user:hover .navbar-user__list {
    position: absolute;
    z-index: 100;
    background-color: #f5f3f3;
    box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.2);
    margin-top: 1em;
    margin-right: 1.5em;
    padding: 1em;
    font-size: 0.95rem;
    border-radius: 2.5px;
    transition: all 200ms linear;
  }
  .main-navbar .upper-nav .navbar-utilities .navbar-user:hover .navbar-user__list .user-link {
    margin-bottom: 0.5em;
  }
  .main-navbar .upper-nav .navbar-utilities .navbar-user:hover .navbar-user__list .user-link a {
    color: rgba(26, 25, 25, 0.55);
    transition: color 200ms linear;
  }
  .main-navbar .upper-nav .navbar-utilities .navbar-user:hover .navbar-user__list .user-link a:hover {
    color: #1a1919;
    transition: color 200ms linear;
  }
  .main-navbar .upper-nav .navbar-utilities .navbar-user:hover .navbar-user__list .log-out {
    padding-top: 0.5em;
    border-top: 1px solid #aaaaaa;
  }
}
.main-navbar .under-nav {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid rgba(170, 170, 170, 0.1);
}
.main-navbar .under-nav .nav-collapsed__title {
  display: none;
}
.main-navbar .under-nav .dropdown-menu {
  position: absolute;
  z-index: -100;
  background-color: transparent;
  box-shadow: none;
  margin-top: 3em;
  margin-left: 1em;
  padding: 0.75em 0;
  font-size: 0.95rem;
  border-radius: 2.5px;
  transition: all 200ms linear, z-index 1ms;
}
.main-navbar .under-nav .dropdown-menu .dropdown-item {
  padding: 0.5em 0.5rem;
}
.main-navbar .under-nav .dropdown-menu .dropdown_a {
  padding: 0 2em;
  color: transparent;
  transition: color 200ms linear;
}
.main-navbar .under-nav .dropdown-menu .dropdown_a:hover {
  color: transparent;
  transition: color 200ms linear;
}
.main-navbar .under-nav .navbar-links {
  display: flex;
  align-items: center;
}
.main-navbar .under-nav .navbar-links a {
  color: #aaaaaa;
}
.main-navbar .under-nav .navbar-links .navbar-link {
  padding: 1.5em 0;
}
.main-navbar .under-nav .navbar-links .navbar-link .navbar-link__a {
  padding: 1.5em 2em;
  transition: color 200ms linear;
}
.main-navbar .under-nav .navbar-links .navbar-link .navbar-link__a:hover {
  color: #f5f3f3;
  transition: color 200ms linear;
}
.main-navbar .under-nav .navbar-links .navbar-link .navbar-link__rotate i {
  transform: rotate(180deg);
  transition: transform 200ms linear;
}
.main-navbar .under-nav .navbar-links .dropdown i {
  font-size: 0.5em;
  padding: 0.5em;
  transition: all 200ms linear;
}
@media screen and (min-width: 769px) {
  .main-navbar .under-nav .navbar-links .dropdown:hover .navbar-link__a i {
    transform: rotate(180deg);
    transition: transform 200ms linear;
  }
  .main-navbar .under-nav .navbar-links .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 1em;
    z-index: 100;
    background-color: #f5f3f3;
    box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.2);
    margin-left: 1em;
    padding: 0.75em 0;
    font-size: 0.95rem;
    border-radius: 2.5px;
    transition: all 200ms linear, z-index 1ms;
  }
  .main-navbar .under-nav .navbar-links .dropdown:hover .dropdown-menu .dropdown-item {
    padding: 0.5em 0.5rem;
  }
  .main-navbar .under-nav .navbar-links .dropdown:hover .dropdown-menu .dropdown_a {
    padding: 0 2em;
    color: rgba(26, 25, 25, 0.55);
    transition: color 200ms linear;
  }
  .main-navbar .under-nav .navbar-links .dropdown:hover .dropdown-menu .dropdown_a:hover {
    color: #1a1919;
    transition: color 200ms linear;
  }
  .main-navbar .under-nav .navbar-links .dropdown:hover .dropdown-menu .dropdown_a:hover i {
    transform: rotate(180deg);
    transition: transform 200ms linear;
  }
}
.main-navbar .under-nav .navbar-links .account-collapsed {
  display: none;
}

.close-overlay {
  cursor: pointer;
}

.search-overlay {
  padding: 2em;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #f5f3f3;
  background-color: #1a1919;
  opacity: 100%;
  transition: opacity 200ms linear;
}
.search-overlay .close-overlay {
  font-size: 1.25rem;
  padding: 1em;
}
.search-overlay .inner-search .search__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 800px;
  padding: 0 2rem;
}
.search-overlay .inner-search .search__form .search-title {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 2rem;
}
.search-overlay .inner-search .search__form input {
  -webkit-appearance: none;
  font-size: 2.5rem;
  padding: 1rem;
  text-align: center;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid gray;
  border-radius: 0;
  -webkit-border-radius: 0;
  width: 100%;
  outline: none;
  color: #f5f3f3;
}
.search-overlay .inner-search .search__form ::-webkit-input-placeholder {
  color: #aaaaaa;
}
.search-overlay .inner-search .search__form ::-moz-placeholder {
  color: #aaaaaa;
}
.search-overlay .inner-search .search__form :-ms-input-placeholder {
  color: #aaaaaa;
}
.search-overlay .inner-search .search__form ::-ms-input-placeholder {
  color: #aaaaaa;
}
.search-overlay .inner-search .search__form ::placeholder {
  color: #aaaaaa;
}
.search-overlay .inner-search .search-hint {
  font-size: 1rem;
  padding: 2em;
  color: #aaaaaa;
}

.inner-search {
  margin-bottom: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .main-navbar .upper-nav {
    flex-direction: row-reverse;
  }
  .main-navbar .upper-nav .navbar-toggler {
    cursor: pointer;
    display: inline-block;
    color: #aaaaaa;
    font-size: 1.25rem;
    transition: color 200ms linear;
  }
  .main-navbar .upper-nav .navbar-toggler:hover {
    color: #f5f3f3;
    transition: color 200ms linear;
  }
  .main-navbar .upper-nav .navbar-social {
    display: none;
  }
  .main-navbar .upper-nav .navbar-search span {
    display: none;
  }
  .main-navbar .upper-nav .navbar-user {
    display: none;
  }
  .main-navbar .under-nav {
    display: block;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: #1a1919;
    height: 100vh !important;
    overflow: scroll;
    width: 100vw;
    transition: opacity 200ms linear;
  }
  .main-navbar .under-nav .navbar-links {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 2rem;
    background-color: #1a1919;
  }
  .main-navbar .under-nav .navbar-links .dropdown-menu {
    position: static;
    margin: 0;
    padding: 1rem 2rem;
  }
  .main-navbar .under-nav .navbar-links .dropdown-menu .dropdown-item {
    padding: 0.5rem 1rem;
    margin: 0;
  }
  .main-navbar .under-nav .navbar-links .dropdown-menu .dropdown-item .dropdown_a {
    font-size: 0.85rem;
    padding: 0;
    margin: 0;
    color: #aaaaaa;
  }
  .main-navbar .under-nav .navbar-links .dropdown-menu .dropdown-item .dropdown_a:hover {
    color: #f5f3f3;
  }
  .main-navbar .under-nav .navbar-links .hide-dropdown-menu {
    position: absolute;
    z-index: -1;
    background-color: #1a1919;
    opacity: 0;
    transition: opacity 100ms linear;
  }
  .main-navbar .under-nav .navbar-links .nav-collapsed__title {
    display: block;
    letter-spacing: 2px;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    padding: 2em;
    padding-bottom: 6em;
    border-bottom: 1px solid rgba(170, 170, 170, 0.1);
  }
  .main-navbar .under-nav .navbar-links .nav-collapsed__title .nav-collapsed__heading {
    font-size: 1rem;
  }
  .main-navbar .under-nav .navbar-links .nav-collapsed__title i {
    cursor: pointer;
    font-size: 1.25rem;
    padding: 1rem;
  }
  .main-navbar .under-nav .navbar-links .navbar-link {
    width: 100%;
    border-bottom: 1px solid rgba(170, 170, 170, 0.1);
  }
  .main-navbar .under-nav .navbar-links .account-collapsed {
    display: block;
  }
  .main-navbar .hide-overlay-nav {
    z-index: -1;
    background-color: #1a1919;
    opacity: 0;
    transition: opacity 200ms linear;
  }
}
@media screen and (max-width: 768px) {
  .main-navbar .upper-nav {
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
    padding: 0 2rem;
    width: 100vw;
    background-color: #1a1919;
  }
  .main-navbar .upper-nav .navbar-toggler {
    font-size: 1.5rem;
    color: #f5f3f3;
  }
  .main-navbar .upper-nav .navbar-brand {
    font-size: 2rem;
    padding: 0.5em 0;
  }
  .main-navbar .upper-nav .navbar-utilities .navbar-search a {
    font-size: 1.5rem;
    color: #f5f3f3;
  }
}
.hide-overlay {
  z-index: -1;
  background-color: #1a1919;
  opacity: 0;
  transition: opacity 200ms linear;
}

.hero-section {
  background-color: #1a1919;
  position: relative;
  width: 100vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  color: #f5f3f3;
}
.hero-section .hero-articles {
  min-height: 75vh;
  position: relative;
  display: grid;
  padding-bottom: 3rem;
  height: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "first first second second" "first first third third";
}
.hero-section .hero-articles .article .backdrop-article {
  height: 100%;
  position: relative;
  z-index: 1;
  background: rgba(26, 25, 25, 0.55);
  transition: background 200ms ease-in-out;
}
.hero-section .hero-articles .article .backdrop-article:hover {
  background: rgba(26, 25, 25, 0.75);
  transition: background 0.5s ease-out;
}
.hero-section .hero-articles .article .backdrop-article .inner-article {
  position: absolute;
  bottom: 0;
  margin: 2em;
}
.hero-section .hero-articles .article .backdrop-article .inner-article .article-category {
  display: inline-block;
  text-transform: uppercase;
  font-size: 0.75rem;
  padding: 0.5em;
  background-color: #f5f3f3;
  color: #1a1919;
  letter-spacing: 0.1em;
  border-radius: 2.5px;
}
.hero-section .hero-articles .article .backdrop-article .inner-article .article-title {
  font-size: 1.8rem;
  padding: 1rem 0;
}
.hero-section .hero-articles .article .backdrop-article .inner-article .article-title .article__link {
  color: #f5f3f3;
}
.hero-section .hero-articles .article .backdrop-article .inner-article .article-info {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  font-size: 0.85rem;
}
.hero-section .hero-articles .article .backdrop-article .inner-article .article-info a {
  color: #aaaaaa;
  transition: color 200ms linear;
}
.hero-section .hero-articles .article .backdrop-article .inner-article .article-info a:hover {
  color: #f5f3f3;
  transition: color 200ms linear;
}
.hero-section .hero-articles .article .backdrop-article .inner-article .article-info .article-datetime {
  margin-left: 0.85rem;
}
.hero-section .hero-articles .first-article {
  height: 100%;
  grid-area: first;
  background-color: #aaaaaa;
  background-image: url("img/hiphop.jpeg");
  height: 100%;
  min-height: 200px;
  background-size: cover;
  background-position: 50% 80%;
  background-repeat: no-repeat;
}
@media screen and (min-width: 993px) {
  .hero-section .hero-articles .first-article {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}
.hero-section .hero-articles .second-article {
  background-color: #aaaaaa;
  height: 100%;
  grid-area: second;
  background-color: #aaaaaa;
  background-image: url("img/concert.jpeg");
  height: 100%;
  min-height: 200px;
  background-size: cover;
  background-position: 50% 80%;
  background-repeat: no-repeat;
}
@media screen and (min-width: 993px) {
  .hero-section .hero-articles .second-article {
    border-top-right-radius: 10px;
  }
}
.hero-section .hero-articles .third-article {
  background-color: #aaaaaa;
  height: 100%;
  grid-area: third;
  background-image: url("img/books.jpeg");
  height: 100%;
  min-height: 200px;
  background-size: cover;
  background-position: 50% 80%;
  background-repeat: no-repeat;
}
@media screen and (min-width: 993px) {
  .hero-section .hero-articles .third-article {
    border-bottom-right-radius: 10px;
  }
}

@media screen and (max-width: 992px) {
  .hero-section {
    min-height: 100vh;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .hero-section .hero-articles {
    height: 100%;
    grid-template-areas: "first first first first" "first first first first" "second second third third";
    grid-template-rows: 1fr 1fr 1fr;
  }
  .hero-section .hero-articles .first-article {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
  .hero-section .hero-articles .second-article {
    border-bottom-left-radius: 10px;
  }
  .hero-section .hero-articles .third-article {
    border-bottom-right-radius: 10px;
  }
}
@media screen and (max-width: 768px) {
  .hero-section {
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
    padding-top: 5em;
  }
  .hero-section .hero-articles {
    height: 85vh;
    grid-template-areas: "first" "second";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    gap: 2em;
  }
  .hero-section .hero-articles .article {
    border-radius: 10px;
  }
  .hero-section .hero-articles .third-article {
    display: none;
  }
}
.extra-section {
  height: 75vh;
  padding-top: 4rem;
}
.extra-section .extra-tags {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.extra-section .extra-tags .extra-tags__heading {
  display: inline-block;
  padding: 2rem;
}
.extra-section .extra-tags .tag-cloud {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 -0.5em;
}
.extra-section .extra-tags .tag-cloud .tag-cloud__item {
  padding: 0.5em;
  margin: 0.5em;
  color: #1a1919;
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.2);
  border-radius: 2.5px;
  background-color: #aaaaaa;
  transition: background 200ms ease-in-out;
}
.extra-section .extra-tags .tag-cloud .tag-cloud__item:hover {
  background-color: #1a1919;
}
.extra-section .extra-tags .tag-cloud .tag-cloud__item a {
  color: #fff;
  padding: 0.5em;
}

/*# sourceMappingURL=style.css.map */
